<!DOCTYPE html>
<html ng-app="walletApp" lang="en">
  <head>
    <meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="Material Design Ripple Wallet">
<meta name="keywords" content="Material Design Ripple Wallet">
<meta name="author" content="Federico Zivolo, Kevin Ross, and Bootstrap Material Design contributors,ripplerm,yxxyun">

<title>
  
    Ripple Wallet &middot; Bootstrap Material Design
  
</title>


<!-- Material Design fonts -->
<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

<!-- Material Design for Bootstrap generic -->

<link href="https://cdn.rawgit.com/fezvrasta/bootstrap-material-design/v4-dist/css/bootstrap-material-design.css" rel="stylesheet">

  <script src="lib/ripple-0.12.9.1-min.js"></script>
  <script src="lib/angular-1.4.4.min.js"></script> 
  <script src="lib/bootstrap/js/ui-bootstrap-tpls-0.14.3.min.js"></script>
  <script src="lib/highcharts/lib/adapters/standalone-framework.js"></script>
  <script src="lib/highcharts/lib/highstock.js"></script>
  <script src="lib/md5.js"></script>
<!-- Page style -->
  <link href="index.css" rel="stylesheet">

  <script src="js/mywallet.js"></script>
  </head>
  <body>
    <div ng-controller="walletCtrl" class="mdb-layout-container mdb-drawer-f-l mdb-drawer-overlay-md-down mdb-drawer-in-lg-up">
  <header class="mdb-layout-header">
    <div class="navbar navbar-light bg-faded">
      <button class="navbar-toggler hidden-lg-up" type="button" data-toggle="drawer" data-target="#dw-1">
        <span class="sr-only">Toggle drawer</span>
        <i class="material-icons">menu</i>
      </button>
      <ul class="nav navbar-nav">
        <li class="nav-item">Network: <font color="{{(state == 'online') ? 'green' : 'red'}}">{{state}}</font></li>
        <li class="nav-item">Secret set: <font color="{{remote.secrets[activeAccount] ? 'green' : 'red' }}">{{remote.secrets[activeAccount] ? "&#10004" : "&#10008"}}</font>
    </li>
      </ul>
      <ul class="nav navbar-nav pull-xs-right">
        <li class="nav-item">
          <div class="mdb-form-group mdb-collapse-inline pull-xs-right">
            <button class="btn mdb-btn-icon" ng-click="prepareSetWalletAccount()">
              <i class="material-icons">account_circle</i>
            </button>
          </div>
        </li>
        <li class="nav-item">
          <div class="dropdown">
            <button class="btn mdb-btn-icon btn-secondary dropdown-toggle" type="button" id="more-menu-1" data-toggle="dropdown" aria-haspopup="true">
              <i class="material-icons">more_vert</i>
            </button>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="more-menu-1">
              <button class="dropdown-item" type="button">Wallet Account: <b>{{activeAccount ? activeAccount : "-"}} </b></button>
              <button class="dropdown-item" type="button">Server: {{server}}</button>
              <button class="dropdown-item" type="button">Last-Closed-Ledger: <font color="blue"> {{ledgerIndex}} </font></button>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </header>

  <div id="dw-1" class="mdb-layout-drawer bg-faded menu">
    <header>
      <a class="navbar-brand">Ripple Wallet</a>
    </header>
    <ul class="list-group">
      <a class="list-group-item" data-target="#Info"><i class="material-icons" role="presentation">info</i>Info</a>
      <a class="list-group-item" data-target="#Trustlines"><i class="material-icons" role="presentation">playlist_add_check</i>Trustlines</a>
      <a class="list-group-item" data-target="#Payment"><i class="material-icons" role="presentation">monetization_on</i>Payment</a>
      <a class="list-group-item" data-target="#Trading"><i class="material-icons" role="presentation">show_chart</i>Trading</a>
      <a class="list-group-item" data-target="#Offers"><i class="material-icons" role="presentation">repeat</i>Offers</a>
      
    </ul>
  </div>
  <main class="mdb-layout-content">
  	
  <div class="container page" ng-repeat="tab in tabs" id="{{tab.title}}"><div ng-include="tab.templete"></div></div>
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  <script src="https://cdn.rawgit.com/HubSpot/tether/v1.1.1/dist/js/tether.min.js"></script>
  <script src="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/js/bootstrap.min.js"></script>
  <script src="https://cdn.rawgit.com/fezvrasta/bootstrap-material-design/v4-dist/js/bootstrap-material-design.iife.min.js"></script>


<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="https://cdn.rawgit.com/rosskevin/bootstrap-material-design/gh-pages/assets/js/ie10-viewport-bug-workaround.js"></script>
<script src="https://cdn.rawgit.com/rosskevin/bootstrap-material-design/gh-pages/assets/js/ie-emulation-modes-warning.js"></script>

<script>
  $(function() {
    $('body').bootstrapMaterialDesign()
  })
</script>
<script>  
  window.page = window.location.hash || "#tabInfo";
  $(document).ready(function () {
    if (window.page != "#tabInfo") {
      $(".menu").find("a[data-target=" + window.page + "]").trigger("click");
    }
  });
  $(window).on("resize", function () {
    $("html, body").height($(window).height());
    $(".main, .menu").height($(window).height() - $(".header-panel").outerHeight());
    $(".pages").height($(window).height());
  }).trigger("resize");
  $(".menu a").click(function () {
    // Menu
    if (!$(this).data("target")) return;
    if ($(this).is(".active")) return;
    $(".menu a").not($(this)).removeClass("active");
    $(".page").not(page).removeClass("active").hide();
    window.page = $(this).data("target");
    var page = $(window.page);
    window.location.hash = window.page;
    $(this).addClass("active");
    page.show();
    var totop = setInterval(function () {
      $(".pages").animate({scrollTop: 0}, 0);
    }, 1);
    setTimeout(function () {
      page.addClass("active");
      setTimeout(function () {
        clearInterval(totop);
      }, 1000);
    }, 100);
  });
  function cleanSource(html) {
    var lines = html.split(/\n/);
    lines.shift();
    lines.splice(-1, 1);
    var indentSize = lines[0].length - lines[0].trim().length,
        re = new RegExp(" {" + indentSize + "}");
    lines = lines.map(function (line) {
      if (line.match(re)) {
        line = line.substring(indentSize);
      }
      return line;
    });
    lines = lines.join("\n");
    return lines;
  }
  $("#opensource").click(function () {
    $.get(window.location.href, function (data) {
      var html = $(data).find(window.page).html();
      html = cleanSource(html);
      $("#source-modal pre").text(html);
      $("#source-modal").modal();
    });
  });
</script>




  </body>
</html>
