<div class="modal-header">
    <h3 class="modal-title">{{lang==0?'Set Secret':'设置密钥'}}</h3>
</div>
<div class="modal-body">
    <div class="input-group input-group-lg">
        <form name="setWalletSecretForm">
            <table>
            <tr>
              <td>{{lang==0?'Secret:':'密钥:'}}</td>
              <td><input id="keyinput2" type="password" name="secret" placeholder="{{lang==0?'enter secret':'输入密钥'}}" class="form-control" size=50 ng-model="options.secret" ripple-valid-secret required autofocus></td>
            
            </tr>
            <br>
            <tr>
            <td></td>
            <td><span style="color:red" ng-show="setWalletSecretForm.secret.$dirty && setWalletSecretForm.secret.$error.rippleValidSecret">{{lang==0?'Invalid Secret!':'无效密钥!'}}</span></td>
            </tr>
            </table>
        </form>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-disabled="setWalletSecretForm.$invalid" ng-click="ok()">{{lang==0?'Submit':'提交'}}</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">{{lang==0?'Cancel':'取消'}}</button>
</div>