<div class="modal-header">
    <h3 class="modal-title">Generate Account</h3>
</div>

<div class="modal-body">
    <form name="generateAccountForm" nonvalidate>
        <table>
            <tr>
                <td>
                    <div class="form-group">
                        <label for="keyinput">Secret:</label>
                        <input id="keyinput" type="password" name="secret" placeholder="enter secret" class="form-control" size=50 ng-model="options.secret" ripple-valid-secret required autofocus> <span style="color:red" ng-show="generateAccountForm.secret.$dirty && generateAccountForm.secret.$error.rippleValidSecret">Invalid Secret!</span>
                    </div>
                </td>
            </tr>
        </table>
    </form><br>
    <div align="right"><button type="button" class="btn btn-info" ng-click="options.secret = generateNewSecret(); options.index = 0;">New Random Secret</button>
    </div>
</div>

<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-disabled="generateAccountForm.$invalid" ng-click="ok()">Submit</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>