<div class="modal-header">
    <h3 class="modal-title"></h3>
</div>

<div class="modal-body">
    <form name="generateAccountForm" nonvalidate>
        <table>
            <tr>
                <td>{{'Secret'|translate}}</td>
                <td><input id="keyinput" type="password" name="secret" placeholder="{{'Enter_Secret'|translate}}" class="form-control" size=50 ng-model="options.secret" ripple-valid-secret required autofocus></td>

            </tr>
            <br>
            <tr>
                <td></td>
                <td><span style="color:red" ng-show="generateAccountForm.secret.$dirty && generateAccountForm.secret.$error.rippleValidSecret">{{'Invalid'|translate}}</span></td>


            </tr>
            <tr>
                <td>{{'SELQR'|translate}}</td>
                <td><input ng-model="photo" onchange="angular.element(this).scope().file_changed(this);" type="file" accept="image/*" /><button type="button" class="btn btn-info" ng-click="options.secret = qrSecret(); options.index = 0;">{{'RDQR'|translate}}</button></td>
            </tr>
        </table>
    </form><br>
    <div align="right"><button type="button" class="btn btn-info" ng-click="options.secret = generateNewSecret(); options.index = 0;">{{'Random'|translate}}</button>
    </div>
</div>

<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-disabled="generateAccountForm.$invalid" ng-click="ok()">{{'Submit'|translate}}</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">{{'Cancel'|translate}}</button>
</div>