<div class="modal-header">
    <h3 class="modal-title">{{'Set_Secret'|translate}}</h3>
</div>
<div class="modal-body">
    <div class="input-group input-group-lg">
        <form name="setWalletSecretForm">
            <table>
                <tr>
                    <td>{{ 'Secret' | translate }}</td>
                    <td><input type="password" name="secret" placeholder="{{ 'Enter_Secret' | translate }}" class="form-control" size="50" ng-model="options.secret" ripple-valid-secret required autofocus></td>
                </tr>
                <br>
                <tr>
                    <td></td>
                    <td><span style="color:red" ng-show="setWalletSecretForm.secret.$dirty && setWalletSecretForm.secret.$error.rippleValidSecret">{{'Invalid'|translate}}</span></td>
                </tr>
            </table>
        </form>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-disabled="setWalletSecretForm.$invalid" ng-click="ok()">{{'Submit'|translate}}</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">{{'Cancel'|translate}}</button>
</div>