<div class="modal-header">
    <h3 class="modal-title">Set Secret</h3>
</div>
<div class="modal-body">
    <div class="input-group input-group-lg">
        <form name="setWalletSecretForm">
            <span class="input-group-addon">New Secret:</span>
            <input type="text" placeholder="enter secret" class="form-control" ng-model="options.secret" ripple-valid-secret required autofocus>
            <span style="color:red" ng-show="setWalletSecretForm.secret.$dirty && setWalletSecretForm.secret.$error.rippleValidSecret">Invalid Secret!</span>
            <br>
        </form>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-disabled="setWalletSecretForm.$invalid" ng-click="ok()">Submit</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>