<div class="modal-header">
    <h3 class="modal-title">{{'Set_Wallet'|translate}}</h3>
</div>
<div class="modal-body">
    <form name="setWalletAccountForm" nonvalidate>
        <table>
            <tr>
                <span class="dropdown">
                        <td>{{'Address'|translate}}:</td>
                        <td><input id="idinput" name="address" type="text" placeholder="{{'Idinput_holder'|translate}}" class="form-control" size="50" ng-model="options.address" ripple-valid-address autofocus dropdown-append-to-body></td>
                        <td><span class="dropdown">
                        <button class="btn dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="caret"></span></button>

                <ul class="dropdown-menu">
                    <li ng-repeat="account in accountHistory"><a href="#" ng-click="options.address=account;">{{account}}</a></li>
                </ul>
                </span>
                </td>
                </span>
            </tr>
            <tr>
                <td></td>
                <td><span style="color:red" ng-show="setWalletAccountForm.address.$dirty && setWalletAccountForm.address.$error.rippleValidAddress">{{'Invalid'|translate}}</span>
                </td>
                <td></td>


            </tr>
            <tr ng-show="options.secret">
                <td>{{'Save_secret'|translate}}:</td>
                <td>
                    <qrcode version="5" error-correction-level="M" size="160" data="{{options.secret}}" download></qrcode>
                </td>
                <td></td>
            </tr>
        </table>
        <br>
        <div align="right"><button type="button" class="btn btn-info" ng-click="prepareGenerateAccount(options)">{{'Use_secret'|translate}}</button></div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-disabled="setWalletAccountForm.$invalid" ng-click="ok()">{{'Submit'|translate}}</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">{{'Cancel'|translate}}</button>
</div>