<div class="card" style="margin: 1em;padding:2em;word-wrap: break-word;  overflow:auto;" id="tabTrustlines">
  <h4 class="card-title">{{lang==0?'Trustlines':'网关管理'}}</h4>
  <button class="btn btn-warning" ng-click="accountLines(); search.currency='';" ng-disabled="!activeAccount">{{lang==0?'Refresh':'刷新'}} </button>  <br>{{accountLinesStatus}}
  <br><br>
  <b>{{lang==0?'Total Trustlines':'已连接网关数'}} = {{trustlinesStats ? totalTrustlines : ""}}</b>
</div>
<div class="card" style="margin: 1em;padding:2em;word-wrap: break-word;  overflow:auto;">
  <h4 class="card-title">{{lang==0?'Balance Statistics':'资产一览'}}</h4>
  <a class="btn btn-info" data-toggle="collapse" href="#Balanceopt1" aria-expanded="false" aria-controls="Balanceopt1">
    {{lang==0?'advanced':'高级'}}
  </a><br>
  <div class="collapse" id="Balanceopt1"><span style="padding-left:1em"><label class="input-toggle"><input type="checkbox" ng-model="trustlineStatsIgnoreZero"><span></span></label>Hide
    zero-balances
    </span>
  </div><br>
  <table class="table table-hover">
    <tr>
      <th style="text-align: center">Currency</th>
      <th style="text-align: center">Number of Trustlines</th>
      <th style="text-align: center">Balances</th>
    </tr>
    <tr ng-repeat="(key, value) in trustlinesStats" ng-hide="trustlineStatsIgnoreZero? value.balance == '0' : false">
      <td style="text-align: center">{{currencyName(key)}}</td>
      <td style="text-align: center">{{value.lineNumber}}</td>
      <td style="text-align: center">{{value.balance}}</td>
    </tr>
  </table>
</div>
<div class="panel panel-info" ng-show="trustSetLog.status">
  <div class="alert {{trustSetLog.status == 'FINAL' ? (trustSetLog.status_code.slice(0,3) == 'tes' ? 'alert-success' : 'alert-danger') : 'alert-warning'}}"
    role="alert">
    <b>Tx Status:</b>[{{trustSetLog.status}}{{trustSetLog.status_code ? ', ' + trustSetLog.status_code : ''}}], <b>Result:</b>    {{trustSetLog.result}} {{trustSetLog.tx_hash ? ', tx_hash: ' + trustSetLog.tx_hash : ''}}
  </div>
</div>

<b>List of Trustlines: </b>
<a class="btn btn-info" data-toggle="collapse" href="#Balanceopt2" aria-expanded="false" aria-controls="Balanceopt2">
    {{lang==0?'advanced':'高级'}}
  </a><br>
<div class="collapse" id="Balanceopt2">
  <span> Currency Filter: </span>
  <select class="form-control" ng-model="search.currency">
            <option value="">- ALL -</option>
            <option ng-repeat="(key, value) in trustlinesStats" value="{{key}}">{{currencyName(key)}}</option>
          </select>
  <span style="padding-left:1em"><label class="input-toggle"><input type="checkbox" ng-model="trustlineDescending"><span></span></label>Descending.</span><br>
  <span style="padding-left:1em"><label class="input-toggle"><input type="checkbox" ng-model="trustlineIgnoreZero"><span></span></label>Hide
  Zero-Balances.
  </span><br>
  <span style="padding-left:1em"><label class="input-toggle"><input type="checkbox" ng-model="trustlineShowFull"><span></span></label>
  Show Advance Detail.</span><br>

  <span style="padding-left:1em">
            <button class="btn btn-info" ng-click="addTrustline()">Add New Trustline</button> 
          </span>
  <br>
</div>
<table cellpadding="5" cellspacing="0" class="table table-hover" style="text-align: center">
  <tr style="text-align: center">
    <th style="text-align: center">Currency</th>
    <th style="text-align: center">Counter Party</th>
    <th style="text-align: center">Balance</th>
    <th style="text-align: center" ng-show="trustlineShowFull">Peer's Rippling / Freeze / Auth</th>
    <th style="text-align: center" ng-show="trustlineShowFull">Peer's Limit</th>
    <th style="text-align: center">Self Limit</th>
    <th style="text-align: center" ng-show="trustlineShowFull">Self Rippling / Freeze / Auth</th>
    <th style="text-align: center" ng-show="trustlineShowFull">Quality-In</th>
    <th style="text-align: center" ng-show="trustlineShowFull">Quality-Out</th>
    <th style="text-align: center">Modify</th>
  </tr>
  <tr ng-repeat="line in trustlines | filter:search | orderBy:'balance':trustlineDescending" ng-hide="trustlineIgnoreZero? line.balance == 0 : false">
    <td>{{currencyName(line.currency)}}</td>
    <td style="text-align:center">{{gatewayName(line.account)}}</td>
    <td style="text-align:center">{{amountDisplay({currency: line.currency, value: line.balance, }, {value: true})}}</td>
    <td style="text-align:center" ng-show="trustlineShowFull">
      <font color="{{line.no_ripple_peer ? 'green' : 'red'}}">{{line.no_ripple_peer ? "&#10008" : "&#10004"}} </font> /
      <font color="{{line.freeze_peer ? 'red' : 'green'}}">{{line.freeze_peer ? "&#10004" : "&#10008"}} </font> /
      <font color="{{line.peer_authorized ? 'green' : 'blue'}}">{{line.peer_authorized ? "&#10004" : "&#10008"}}</font>
    </td>
    <td style="text-align:center" ng-show="trustlineShowFull"> {{line.limit_peer}}</td>
    <td style="text-align:center"> {{line.limit}}</td>
    <td style="text-align:center" ng-show="trustlineShowFull">
      <font color="{{line.no_ripple ? 'green' : 'red'}}">{{line.no_ripple ? '&#10008' : '&#10004'}} </font> /
      <font color="{{line.freeze ? 'red' : 'green'}}"> {{line.freeze ? '&#10004' : '&#10008' }} </font> /
      <font color="{{line.authorized ? 'green' : 'blue'}}"> {{line.authorized ? '&#10004': '&#10008'}} </font>
    </td>
    <td style="text-align:center" ng-show="trustlineShowFull">{{line.quality_in ? line.quality_in / 1e9 : 1}}</td>
    <td style="text-align:center" ng-show="trustlineShowFull">{{line.quality_out ? line.quality_out / 1e9 : 1}}</td>
    <td style="text-align:center">
      <button class="btn btn-link" ng-click="editTrustline(line)">edit <span class="glyphicon glyphicon-edit"></span></button>
    </td>
  </tr>
</table>
<br>