<div id="tabOffers">
    <div class="card" style="margin: 1em;padding:2em;word-wrap: break-word;  overflow:auto;">
        <h4 class="card-title">{{ 'Offers' | translate }} </h4>
        <button class="btn btn-warning" ng-click="getAccountOffers();" ng-disabled="!activeAccount">{{ 'Refresh' | translate }}</button>        <br>{{accountOffers.status}}
        <br><br>

        <table class="table table-striped" style="text-align:center;">
            <tr>
                <th style="text-align:center;">{{ 'Type' | translate }}</th>
                <th style="text-align:center;">Base Amount</th>
                <th style="text-align:center;">Trade Amount</th>
                <th style="text-align:center;">{{ 'Price' | translate }}</th>
                <th style="text-align:center;">Expired after </th>
                <th style="text-align:center;"></th>
            </tr>
            <tr ng-repeat="offer in accountOffers.all">
                <td><span style="color: {{offerIsSell(offer) ? 'red' : 'green'}};"> {{offerIsSell(offer) ? 'Sell' : 'Buy'}} </span></td>
                <td>{{offerIsSell(offer) ? amountDisplay(offer.taker_gets) : amountDisplay(offer.taker_pays)}}</td>
                <td>{{offerIsSell(offer) ? amountDisplay(offer.taker_pays) : amountDisplay(offer.taker_gets)}}</td>
                <td>{{offerIsSell(offer) ? offerPriceToHuman(offer, true).toPrecision(5) : offerPriceToHuman(offer, false).toPrecision(5)}}</td>
                <td>{{offer.expiration ? offerExpireHour(offer) + ' hour' : '-' }}</td>
                <td>
                    <a href="#" ng-click="prepareOfferEdit({type: offerIsSell(offer) ? 'sell' : 'buy', offer:offer}, true)"><i class="material-icons" role="presentation">edit</i></a>
                    <a href="#" ng-click="prepareOfferCancel({type: offerIsSell(offer) ? 'sell' : 'buy', offer:offer}, true)"><i class="material-icons" role="presentation">delete</i></a>
                </td>

            </tr>
        </table>
    </div>
</div>

<div ng-show="tradingLog.status" class="card {{tradingLog.status == 'FINAL' ? (tradingLog.status_code.slice(0,3) == 'tes' ? 'card-success' : 'card-danger') : 'card-warning'}}"
    style="margin: 1em;padding:2em;word-wrap: break-word;  overflow:auto;">
    <b>Tx Status:</b>[{{tradingLog.status}}{{tradingLog.status_code ? ', ' + tradingLog.status_code : ''}}], <b>Result:</b>    {{tradingLog.result}} {{tradingLog.tx_hash ? ', tx_hash: ' + tradingLog.tx_hash : ''}}
</div>