<div id="tabInfo">
    <div class="card" style="margin: 1em;padding:2em;word-wrap: break-word;  overflow:auto;">
        <h4 class="card-title">{{ 'Account' | translate }} {{activeAccount ? activeAccount : "-"}}</h4>
        <button class="btn btn-warning" ng-click="accountInfo()" ng-disabled="!activeAccount">{{ 'Refresh' | translate }}</button> <br>{{accountInfoStatus}}<br>
        <a class="btn btn-info" data-toggle="collapse" href="#infoopt" aria-expanded="false" aria-controls="infoopt">{{ 'Advanced' | translate }}</a>
        <div class="collapse" id="infoopt">
            <div style="padding-left:1em">
                <button class="btn btn-info" ng-click="prepareSetWalletSecret()">{{'Set_Secret'|translate}}</button><br>
                <button class="btn btn-info" ng-show="remote.secrets[activeAccount]" ng-click="showSecret = !showSecret">{{'SH_secret'|translate}}</button><br>
                <div><span style="float:left"><qrcode ng-show="showSecret" version="5" error-correction-level="M" size="160" data="{{remote.secrets[activeAccount]}}" download></qrcode>
                {{remote.secrets[activeAccount] && showSecret ? remote.secrets[activeAccount] : '' }}</span></div>
            </div>
        </div>
    </div>
    <div class="card" style="margin: 1em;padding:2em;word-wrap: break-word;  overflow:auto;">
        <h4 class="card-title">{{ 'Info' | translate }}</h4>
        <a class="btn btn-info" data-toggle="collapse" href="#infoopt1" aria-expanded="false" aria-controls="infoopt1">{{ 'Advanced' | translate }}</a>
        <div class="collapse" id="infoopt1">
            <div style="padding-left:1em">
                <button type="button" class="btn btn-info" ng-click="prepareSetRegularKey()">{{ 'Set_RegularKey' | translate }}</button>
                <button type="button" class="btn btn-info" ng-click="prepareAccountSet({modal: 'info'})">{{ 'Edit_Info' | translate }}</button>
            </div>
        </div>
        <img src="{{accountData.urlgravatar}}" style="margin-right: 5px; margin-bottom: 5px; display: {{accountData.EmailHash ? 'block': 'none'}}">
        <br>
        <table style="table-layout:fixed" class="table table-hover">
            <tr>
                <td>XRP</td>
                <td>{{accountBalances.XRP ? accountBalances.XRP : '-'}}</td>
            </tr>
            <tr>
                <td>{{ 'Reserved' | translate }}</td>
                <td>{{accountBalances.XRP ? accountBalances.reserved : '-'}}</td>
            </tr>
            <tr>
                <td>Domain</td>
                <td>{{accountData.domain ? accountData.domain : '-'}}</td>
            </tr>
            <tr>
                <td>EmailHash</td>
                <td>{{accountData.EmailHash ? accountData.EmailHash : '-'}}</td>
            </tr>
            <tr>
                <td>Transfer Rate</td>
                <td>{{accountData.TransferRate ? ((accountData.TransferRate / 1000000000 - 1) * 100).toFixed(7) + ' %' : '-' }}
                </td>
            </tr>
            <tr>
                <td>Owner Count</td>
                <td>{{accountData.OwnerCount}}</td>
            </tr>
            <tr>
                <td>Regular Key</td>
                <td>{{accountData.RegularKey ? accountData.RegularKey : '-'}}</td>
            </tr>
            <tr>
                <td>Next Sequence</td>
                <td>{{accountData.Sequence}}</td>
            </tr>
            <tr>
                <td>Message Key</td>
                <td>{{accountData.MessageKey ? accountData.MessageKey : '-'}}</td>
            </tr>
        </table>
    </div>
    <div class="card" style="margin: 1em;padding:2em;word-wrap: break-word;  overflow:auto;">
        <h4 class="card-title">{{ 'Account_Flags' | translate }}</h4>
        <a class="btn btn-info" data-toggle="collapse" href="#infoopt2" aria-expanded="false" aria-controls="infoopt2">{{ 'Advanced' | translate }}</a>
        <div class="collapse" id="infoopt2">
            <div style="padding-left:1em">
                <button type="button" class="btn btn-info" ng-click="prepareAccountSet({modal: 'flags'})">{{ 'Edit_Flags' | translate }}</button>
            </div>
        </div><br>
        <table style="table-layout:fixed" class="table table-hover">
            <tr ng-repeat="(key, value) in accountData['settings']">
                <td>{{key}}:</td>
                <td>
                    <font color="{{value ? 'green' : 'red'}}">{{value ? "&#10004" : "&#10008"}} </font>
                </td>
            </tr>
        </table>
    </div>

    <div ng-show="accountSetLog.status" class="card {{accountSetLog.status == 'FINAL' ? (accountSetLog.status_code.slice(0,3) == 'tes' ? 'card-success' : 'card-danger') : 'card-warning'}}" style="margin: 1em;padding:2em;word-wrap: break-word;  overflow:auto;">

        <b>Tx Status:</b>[{{accountSetLog.status}}{{accountSetLog.status_code ? ', ' + accountSetLog.status_code : ''}}],
        <b>Result:</b> {{accountSetLog.result}} {{accountSetLog.tx_hash ? ', tx_hash: ' + accountSetLog.tx_hash : ''}}
    </div>
</div>