<div style="font-weight:bold; font-size:20pt; padding-right:2em;">
    Trading<br>
</div>

<div class="row">
    <div class="col-sm-8">
        <div class="panel panel-info">
            {{trading.chartStatus}}
            <div id="container" style="height: 500px; min-width: 310px" ng-disabled="trading.chartStatus"></div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="dropdown">
            <span style="font-weight:bold; font-size:14pt; color:green">
				{{pairName(trading.pair)}}</span>
            </span>
            <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="caret"></span></button>
            <ul class="dropdown-menu">
                <li><a href="#" ng-click="prepareTradePair()"> -- Add New -- </a></li>
                <li ng-repeat="pair in tradepairs"><a href="#" ng-click="setTradePair(pair)">{{pairName(pair)}}</a></li>
            </ul>
            <button class="btn btn-info" ng-click="flipTradePair()"><span class="glyphicon glyphicon-transfer"></span> Flip</button>
        </div>
        <hr>
        <h4>Outstanding Orders: 
			<button class="btn btn-warning" ng-click="getAccountOffers()"><span class="glyphicon glyphicon-refresh"></span> Refresh </button> 
		</h4> @ ledger_index: {{accountOffers.ledger_index}}
        <div class="panel">
            <table class="table table" style="text-align:center;">
                <thead>
                    <tr class="row bg-info">
                        <th class="col-sm-3" style="text-align:center;">Type</th>
                        <th class="col-sm-3" style="text-align:center;">Qty</th>
                        <th class="col-sm-3" style="text-align:center;">Price</th>
                        <th class="col-sm-3" style="text-align:center;">Edit</th>
                    </tr>
                    <thead>
            </table>
            <div style="width:100%; height: 320px; overflow: auto;">
                {{trading.getOfferStatus}}<br>
                <table class="table table-striped" style="text-align:center;">
                    <tbody>
                        <tr class="row" ng-repeat="offer in accountOffers.ask">
                            <td class="col-sm-3" style="text-align:center; color:red; "> Sell </td>
                            <td class="col-sm-3" style="text-align:center;"> {{ offerGetsToHuman(offer) }} </td>
                            <td class="col-sm-3" style="text-align:center;"> {{ offerPriceToHuman(offer, true).toPrecision(5) }} </td>
                            <td class="col-sm-3" style="text-align:center;">
                                <a href="#" ng-click="prepareOfferEdit({type:'sell', offer:offer})"><span class="glyphicon glyphicon-edit"></span></a>
                                <a href="#" ng-click="prepareOfferCancel({type:'sell', offer:offer})"><span class="glyphicon glyphicon-trash"></span></a>
                            </td>
                        </tr>
                        <tr class="row" ng-repeat="offer in accountOffers.bid">
                            <td class="col-sm-3" style="text-align:center; color:green;"> Buy </td>
                            <td class="col-sm-3" style="text-align:center;"> {{ offerPaysToHuman(offer) }} </td>
                            <td class="col-sm-3" style="text-align:center;"> {{ offerPriceToHuman(offer).toPrecision(5) }} </td>
                            <td class="col-sm-3" style="text-align:center;">
                                <a href="#" ng-click="prepareOfferEdit({type:'buy', offer:offer})"><span class="glyphicon glyphicon-edit"></span></a>
                                <a href="#" ng-click="prepareOfferCancel({type:'buy', offer:offer})"><span class="glyphicon glyphicon-trash"></span></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="panel panel-info" ng-show="tradingLog.status">
    <div class="alert {{tradingLog.status == 'FINAL' ? (tradingLog.status_code.slice(0,3) == 'tes' ? 'alert-success' : 'alert-danger') : 'alert-warning'}}" role="alert">
        <b>Tx Status:</b>[{{tradingLog.status}}{{tradingLog.status_code ? ', ' + tradingLog.status_code : ''}}], <b>Result:</b> {{tradingLog.result}} {{tradingLog.tx_hash ? ', tx_hash: ' + tradingLog.tx_hash : ''}}
    </div>
</div>

<h3> Place Order: </h3>
<div class="row">
    <div class="col-sm-6">
        <div class="panel panel-success">
            <div class="panel-body">

                Buy:
                <input type="number" class="form-control" size="15" name="buyQuantity" ng-model="trading.buyQuantity" placeholder="amount" positive-number> {{trading.baseCurrency}}, at:
                <input type="number" class="form-control" size="15" name="buyPrice" ng-model="trading.buyPrice" placeholder="price in {{trading.tradeCurrency}}" positive-number>
                <br><br>
                <div align="right">
                    <button class="btn btn-primary" type="button" ng-click="prepareOfferCreate({type: 'buy'})" ng-disabled="!trading.buyQuantity || !trading.buyPrice">Buy</button>
                    <button class="btn btn-warning" type="button" ng-click="buyReset()">Reset</button>
                </div>

            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="panel panel-danger">
            <div class="panel-body">
                Sell:
                <input type="number" class="form-control" size="15" name="sellQuantity" ng-model="trading.sellQuantity" placeholder="amount" positive-number> {{trading.baseCurrency}}, at:
                <input type="number" class="form-control" size="15" name="sellPrice" ng-model="trading.sellPrice" placeholder="price in {{trading.tradeCurrency}}" positive-number>
                <br>
                <br>
                <div align="right">
                    <button class="btn btn-danger" type="button" ng-click="prepareOfferCreate({type: 'sell'})" ng-disabled="!trading.sellQuantity || !trading.sellPrice">Sell</button>
                    <button class="btn btn-warning" type="button" ng-click="sellReset()">Reset</button>
                </div>
            </div>
        </div>
    </div>
</div>
<h3>  
	OrderBooks: 
	<button class="btn btn-warning btn-sm" ng-click="loadOrderBooks()"><span class="glyphicon glyphicon-refresh"></span> Refresh </button>
</h3>
<div class="row">
    <div class="col-sm-6">
        BIDS: {{trading.bid_status}}
        <table class="table table-striped" style="text-align:center;">
            <tr>
                <th style="text-align:center;">Volume</th>
                <th style="text-align:center;">Price</th>
            </tr>
            <tr ng-repeat="offer in trading.bidOffers" style="color:{{offer.autobridged ? 'blue' : ''}};">
                <td>{{offerPaysFundedToHuman(offer).toPrecision(6)}}</td>
                <td>
                    <span tooltip-animation="false" uib-tooltip="{{offer.autobridged ? 'autobridge' : offer.Account}}">{{offerPriceToHuman(offer).toPrecision(6)}} </span>
                </td>
            </tr>
        </table>


    </div>
    <div class="col-sm-6">
        ASKS: {{trading.ask_status}}
        <table class="table table-striped" style="text-align:center;">
            <tr>
                <th style="text-align:center;">Price</th>
                <th style="text-align:center;">Volume</th>
            </tr>
            <tr ng-repeat="offer in trading.askOffers" style="color:{{offer.autobridged ? 'blue' : ''}};">
                <td>
                    <span tooltip-animation="false" uib-tooltip="{{offer.autobridged ? 'autobridge' : offer.Account}}">{{offerPriceToHuman(offer, true).toPrecision(6)}}</span>
                </td>
                <td>{{offerGetsFundedToHuman(offer).toPrecision(6)}}</td>
            </tr>
        </table>
    </div>
</div>